__pycache__
*.pyc
.idea
*.sh
*.c
*.pt
LIBRIBIG/
LIBRIBIG_small/
LIBRIBIG_small_2/
LibRVOX_info.md
LibriBIG_eval.py
LibriFrench/
LibriFrench100/
LibriFrench360/
LibriFrenchSpeakerSplit/
LibriSpeech_other/
Librilight_subsample/
Librispeech10/
Librispeech100/
Librispeech360/
LibrispeechNoise_100/
MAGICDATA/
